.irs--round .irs-bar{
    background-color: #f7ca0d;
}
.irs--round .irs-handle {
    border: 4px solid #f7ca0d;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #f7ca0d;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color: #f7ca0d;
}
